
.im-box { width: 60px; position: fixed; top: 150px; right: 0; z-index: 999; }
.im-box .im-ewm { width: 58px; height: 78px; border: 1px solid #e8e8e8; position: relative; }
.im-box .im-ewm .ewm-hover { position: absolute; left: -145px; top: -25px; display: none; }
.im-box .im-ewm:hover .ewm-hover { display: block; }
